<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="../assets/functionality.js"></script>
</head>

  <%include design/header.ejs %>
  <%include design/user-navigation.ejs %>
  <%include design/site-navigation.ejs %>

<div class="main">
    <h2 style="text-align: left">Corporate Summary:</h2>

    <p>
        PC Parts R’ Us offers competitive pricing on its unparalleled product selection, with a firm commitment to on-time order fulfillment. We empower customers to make the best purchasing decisions by offering detailed product information, peer reviews, expert opinions, product tutorials and the opportunity to network with other members of our community.
    </p>

    <h2 style="text-align: left">Our Goals:</h2>

    <p>
       We strive to complete all customer orders on time and with quality products. Our customer service team is fully operational and standing by to answer any questions.
    </p>
</div>

<% include design/footer.ejs %>

</html>
