<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link href="../stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="../assets/functionality.js"></script>
</head>

<% include design/header.ejs %>
<% include design/user-navigation.ejs %>
<% include design/site-navigation.ejs %>

<div class="main">
    <h2 style="text-align: left">Contact Us:</h2>

    <p>
        Please contact us if you have any issues regarding your order, products, returns, and/or general questions!
    </p>
    <h2>Email:</h2>
    <p>
        <b>Support</b> - PartsRUsSupport@gmail.com
        <br>
        <b>Returns</b> - PartsRUsReturns@gmail.com
    </p>

    <h2>Phone:</h2>
    <p>
        800.123.7777
    </p>
    <p>
        Our office hours are:
        <br>
        <br>
        Monday - Friday (8am-5pm)
    </p>

</div>

<% include design/footer.ejs %>

</html>
