<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PC Parts R' US</title>
    <link rel="stylesheet" type="text/css" href="/../stylesheets/style.css" />
    <script src="../assets/functionality.js"></script>
</head>

<% include design/header.ejs %>
<% include design/user-navigation.ejs %>
<% include design/site-navigation.ejs %>

<div class="main">
  <h2 style="text-align: left">Need Help Finding PC Parts?</h2>

  <p>
    Picking new hardware for your PC can be challenging if aren't equipped with the correct information and parts to handle it. Let us help you with finding the right parts to fit your PC. We have a large selection of Graphic Cards, CPU's and Towers that we believe are the best and more reliable parts on the market today.
  </p>
</div>

<% include design/footer.ejs %>

</html>
