<header>
    <div id="wrapper">
        <div id="header">
          <!-- Title in banner !-->
        <div class ="top_banner"><h1>PC Parts R' Us</h1></div>
        </div>
    </div>
<div>
</div>
</header>
